<div class="show">
  <h3><%= show.date.strftime("%B #{show.date.day.ordinalize}") %></h3>
  <p><%= show.venue %></p>
  <% %w(location other_acts time price notes).map(&:to_sym).each do |sym| %>
    <% if show.send(sym) && !show.send(sym).blank? %>
      <p><%= show.send(sym).html_safe %></p>
    <% end %>
  <% end %>
  <% if @admin %>
    <%= link_to "edit", edit_show_path(show) %> | 
    <%= link_to "delete", show_path(show), method: :delete, confirm: "are you sure you want to delete this show?" %>
  <% end %>
</div>
