<head>

<title>The Fabulous Party Boys</title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>

</head>

<body>

<div class="row" id="sidebar-wrapper" style="position: fixed">
  <div id="sidebar" class="span2">
    <%= link_to root_path, data: {push: true} do %>
      <img id="logo-link" class="link" src="logo_white.png" />
    <% end %>
    <%= link_to "listen" do %>
      <h3 id="listen-link" class="sidebar-link">LISTEN</h3>
    <% end %>
    <%= link_to "/shows", data: {push: true} do %>
      <h3 id="shows-link" class="sidebar-link">SHOWS</h3>
    <% end %>
    <%= link_to "/video", data: {push: true} do %>
      <h3 id="video-link" class="sidebar-link">VIDEO</h3>
    <% end %>
    <%= link_to "/photos", data: {push: true} do %>
      <h3 id="photos-link" class="sidebar-link">PHOTOS</h3>
    <% end %>
    <%= link_to "/about", data: {push: true} do %>
      <h3 id="about-link" class="sidebar-link">ABOUT</h3>
    <% end %>
    <%= link_to "/press", data: {push: true} do %>
      <h3 id="press-link" class="sidebar-link">PRESS</h3>
    <% end %>
    <%= link_to "/contact", data: {push: true} do %>
      <h3 id="contact-link" class="sidebar-link">CONTACT</h3>
    <% end %>
    <%= link_to "https://www.facebook.com/thefabulouspartyboys", data: {push: true} do %>
      <h4 class="link" onclick=>facebook</h4>
    <% end %>
    <%= link_to "https://twitter.com/thefabpartyboys", data: {push: true} do %>
      <h4 class="link" onclick=>twitter</h4>
    <% end %>
    <% if @admin %>
      <%= link_to "log out", logout_path %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span2">
  </div>
  <div class="span10">
    <div id="topbar" class="row">
      <%= link_to root_path, data: {push: true} do %>
        <h2 id="page-title">
          <span class= "title-letter">T</span>
          <span class= "title-letter">H</span>
          <span class= "title-letter">E</span>
          <span class= "title-letter">&nbsp;F</span>
          <span class= "title-letter">A</span>
          <span class= "title-letter">B</span>
          <span class= "title-letter">U</span>
          <span class= "title-letter">L</span>
          <span class= "title-letter">O</span>
          <span class= "title-letter">U</span>
          <span class= "title-letter">S</span>
          <span class= "title-letter">&nbsp;P</span>
          <span class= "title-letter">A</span>
          <span class= "title-letter">R</span>
          <span class= "title-letter">T</span>
          <span class= "title-letter">Y</span>
          <span class= "title-letter">&nbsp;B</span>
          <span class= "title-letter">O</span>
          <span class= "title-letter">Y</span>
          <span class= "title-letter">S</span>
        </h2>
      <% end %>
    </div>
    <div class="span10">
      <%= render partial: "pages/listen" %>
    </div>
    <div class="span10 content">
      <%= yield %>
    </div>
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41954278-1', 'thefabulouspartyboys.com');
  ga('send', 'pageview');

</script>

</body>
